.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 100;
}

.large_value{
  font-size: 40;
  font-family: System-Regular;
  font-weight: 400;
  text-length: 400;
}

.updated {
  font-family: Seville-Book;
  font-size: 64;
  fill: #ffffff;
}

svg {
  viewport-fill: fb-cyan;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}
