body {
  height: 100%;
  width: 100%;
}
  
body {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f5f5f5;
}
  
/*---------------- buttons ----------------------*/
.loginbutton {
  background-color: #E6FE55;
  width: 45%;
  border: none;
}

.loginbutton:hover {
  background-color: #F0EC10;
}

.cbutton {
  background-color: #E6FE55;
  border: none;
  color: black;
  padding: 0px;
  line-height: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 4px 2px;
  border-radius: 16px;
  font-size: 25px;
  height: 20px;
  width: 40px;
}

.myinput {
  -webkit-appearance: none;
  position: relative;
  padding: 0px;
  width: 32px;
  height: 16px;
  border-radius: 8px;
  background-color: #E6FE55;
  outline: none;
  transition: .70s;
  box-shadow: 0px 2px 5px 1px gray;
}

.myinput:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;
  transition: all .7s;
}

.myinput:checked {
  background-color: #04b112;
  transition: .70s;
}

.myinput:checked:before {
  transform: translate(100%);
  transition: all .7s;
  background-color: #9e9e9e;
}

.startbutton {
  border: none;
  background-color: #f5f5f5;
  text-align: center;
  vertical-align:middle;
}

.bi-arrow-right {
  color: #003E33;
  font-size: 25px;
  font-weight: 100;
}

.bi-arrow-right:hover {
  color: #003E33;
  font-size: 30px;
  font-weight: 900;
}

.questformBtn {
  background-color: #E6FE55;
  font-weight: 900;
  padding: 0px;
  font-size: 24px;
  font-family : Rubik-Regular;
  text-decoration: none;
  color: #003E33; 
  vertical-align: middle;
  text-align: center;
  width: fit-content;
  margin: 10px;
  height: 40px;
  border: none;
}

.questformBtn:hover {
  cursor: pointer;
  color: #00614f;
  background-color: #e8f834;
  text-decoration: none;
  }

  .analytWaitBtn {
    background-color: #E6FE55;
    cursor: regular;
    font-weight: 900;
    padding: 0px;
    margin: 10px;
    font-size: 24px;
    font-family : Rubik-Regular;
    text-decoration: none;
    color: #003E33; 
    vertical-align: middle;
    text-align: center;
    width: 80px;
    height: 40px;
    border: none;
  }

  .analytWaitBtn:hover {
    cursor: default;
    }

.dashbbtn {
  background-color: #E6FE55;
  font-weight: 900;
  padding: 0px;
  margin: 10px;
  font-size: 24px;
  font-family : Rubik-Regular;
  text-decoration: none;
  color: #003E33; 
  vertical-align: middle;
  text-align: center;
  width: 80px;
  height: 40px;
  border: none;
}

.dashbbtn:hover {
cursor: pointer;
font-size: 26px;
color: #00614f;
text-decoration: none;
}

.startstopBtn {
  background-color: #E6FE55;
  font-weight: 900;
  padding: 0px;
  margin: 10px;
  font-size: 24px;
  font-family : Rubik-Regular;
  color: #003E33; 
  vertical-align: middle;
  text-align: center;
  width: 150px;
  height: 40px;
  border: none;
}

.startstopBtn:hover{
cursor: pointer;
font-size: 26px;
color: #00614f;
}

.indexbtn {
  background-color: #E6FE55;
  font-weight: 600;
  padding: 0px;
  margin: 10px;
  font-size: 45px;
  font-family : Rubik-Regular;
  text-decoration: none;
  color: #003E33; 
  vertical-align: middle;
  text-align: center;
  width: 200px;
  height: 70px;
  border: none;
}

.indexbtn:hover {
  cursor: pointer;
  color: #003E33;
  background-color: #F0EC10;
  text-decoration: none;
  }

.questBtn {
  margin:4px;
  background-color:#ffffff;
  border-radius:4px;
  border:1px solid #ffffff;
  overflow:auto;
  float:left;
}
.questBtn:hover {
  margin:4px;
  background-color:#EFEFEF;
  border-radius:4px;
  border:1px solid black;
  overflow:auto;
  float:left;
  color:black;
}

.questBtn label {
  float: left;
  width:fit-content;
  border: 1px solid black;
}

.questBtn label span {
  text-align:center;
  padding-left: 8px;
  padding-right: 8px;
  display:block;
}

.questBtn label input {
  position:absolute;
  display: none;
  top:-20px;
}

.questBtn input:checked + span{
  background-color:rgb(41, 188, 0);
  color:rgb(0, 0, 0);
}

.toolBtn {
  border-radius: 20pt;
  font-size: 24px;
  font-family : Rubik-Regular;
  font-weight: 900;
  text-decoration: none;
  color: #003E33; 
  vertical-align: middle;
  text-align: center;
  margin:4px;
  background-color:#E6FE55;
}

.toolBtn:hover {
  outline: 0pt;
  border-radius: 20pt;
  background-color:#E6FE55;
  overflow:auto;
  float:left;
  color: #00614f;
  cursor: pointer;
  font-size: 26px;
  text-decoration: none;
}

.toolBtn label {
  float: left;
  width: 80px;
  height: 40px;
  border: 1px solid black;
}

.toolBtn label span {
  text-align:center;
  padding-left: 8px;
  padding-right: 8px;
  display:block;
}

.toolBtn label input{
  display: none;
  position:absolute;
  top:-20px;
  border-width: 0px;
  outline:0; /* I have also tried outline:none */
}

.toolBtn input:focus{
  border-width: 0px;
  outline:0; /* I have also tried outline:none */
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.toolBtn input:checked + span{
  border-radius: 20pt;
  background-color:rgb(41, 188, 0);
  color:rgb(0, 0, 0);
}
/*---------------- buttons ----------------------*/

/*---------------- forms ----------------------*/
.form-signin {
  width: 100%;
  max-width: 330px;
  font-size: 20px;
  padding-bottom: 26px;
  padding-top: 0px;
}

.form-signin-heading {
  width: 100%;
  font-size: 38px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .checkbox {
  font-weight: normal;
}

#remember {
  margin-top: 7px;
  height: 18px;
  width: 18px;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.modaladdinput {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid gray;
  width: 30px;
  text-align: center;
}

.modaladdinput:focus::placeholder {
  color: transparent;
}

.experinput:focus-within {
 outline: none;
}

/*---------------- forms ----------------------*/

/*---------------- text styles ----------------------*/
.Style1
{
	font-family : Clean Ape;
	font-size : 90px;
	color : #003E33;
	color : rgb(0, 62, 51);
	padding: 0;
	margin: 10px 40px;
  text-decoration: none!important;
}

.Style1:hover {
  color: #003E33;
}

.Style2
{
	font-family : Rubik-Light;
	font-size: 80px;
	color : #000;
	color : rgb(0, 0, 0);
}

.Style3
{
	font-family : Rubik-Regular;
	font-size : 26px;
	color : #000000;
	text-decoration: none!important;
}

.Style4
{
	font-family : sans-serif;
	font-size : 25px;
	color : #000000;
	text-decoration: none!important;
}

.Style5
{
	font-family : Rubik-Regular;
	font-size : 80px;
	color : #003E33;
	color : rgb(0, 62, 51);
	text-decoration: none!important;
}

.Style6
{
	font-family : Rubik-Light;
	font-size : 12px;
	color : #003E33;
	color : rgb(0, 62, 51);
	text-decoration: none!important;
}

.Style7
{
	font-family : Rubik-Regular;
	font-size : 18px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-decoration: none!important;
}

.Style8
{
	font-family : Rubik-light;
	font-size : 18px;
  font-weight: 600;
	color : #003E33;
	color : rgb(0, 62, 51);
}

.smaltext
{
  font-size: 10px;
  font-weight: 700;
}

.bigtext
{
  font-size: 20px;
}

textarea {
  width: 28px;
  height: 28px;
  text-align: center;
  background-color: transparent;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.sessionform {
  font-size: 22px; 
  color: rgb(12, 181, 233);
}

.sessionform:hover {
  cursor: wait;
}

.progressdone {
  font-size: 22px; 
  color: rgb(56, 233, 12);
}

.progressdone:hover {
  cursor: default;
}

.styletimer {
  font-size: 40px;
  margin: 10px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  color: rgb(226, 11, 11);
  background: #C0FFEE;
}
/*---------------- text styles ----------------------*/

/*---------------- tables ----------------------*/
.border1
{
  border-radius: 10%;
  width: fit-content;
	background-color: #FFF;
  overflow: hidden;
}

.border2
{
  background-color: #E6FE55;
  margin-top: 0px;
  align-items: center;
  width: 450px;
  height: auto;
  transform: translateX(-50%);
  margin-left: 50%;
  border-bottom: solid #000000 3px;
}

.border3
{
  border-radius: 30px;
  width: fit-content;
	background-color: #FFF;
  overflow: hidden;
}

.border4
{
  border-radius: 30px;
  width: fit-content;
	background-color: #FFF;
}

.border5
{
  border-radius: 30px;
  width: fit-content;
	background-color: rgb(252, 243, 223);
}

#DataTabExp {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
}

#DataTabExp th, #DataTabexp td {
  text-align: center;
  padding: 12px; 
}

#DataTabTask {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
  height: fit-content;
}

#DataTabTask th, #DataTabTask td {
  text-align: center;
  padding: 12px;
}

#DataTab {
  border-collapse: collapse; 
  border: 1px solid #ddd;
  font-size: 18px;
}

#DataTab th, #DataTab td {
  text-align: left; 
  padding: 12px; 
}

#DataTab tr {
  border-bottom: 1px solid #ddd;
}

/*---------------- tables ----------------------*/