html,
body {
  height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Style1
{
	font-family : Clean Ape;
	font-size : 90px;
	color : #003E33;
	color : rgb(0, 62, 51);
	padding: 0;
	margin: 0;
}

.Style2
{
	font-family : Rubik-Light;
	font-size: 80px;
	color : #000;
	color : rgb(0, 0, 0);
}

.Style3
{
	font-family : Rubik-Regular;
	font-size : 24px;
	color : #003E33;
	color : rgb(0, 62, 51);
	text-decoration: none!important;
}

.border1
{
	background-color: #FFF;
}