body {
    height: 100%;
    width: 100%;
  }
  
  body {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f5f5f5;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }


  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin .checkbox {
    font-weight: normal;
  }

  .form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loginbutton{
  background-color: #E6FE55;
  width: 45%;
  border: none;
}

.Style1
{
	font-family : Clean Ape;
	font-size : 90px;
	color : #003E33;
	color : rgb(0, 62, 51);
	padding: 0;
	margin: 10px 40px;
  text-decoration: none!important;
}

.Style1:hover{
  color: #003E33;
}

.Style2
{
	font-family : Rubik-Light;
	font-size: 80px;
	color : #000;
	color : rgb(0, 0, 0);
}

.Style3
{
	font-family : Rubik-Regular;
	font-size : 24px;
	color : #003E33;
	color : rgb(0, 62, 51);
	text-decoration: none!important;
}

.Style4
{
	font-family : sans-serif;
	font-size : 25px;
	color : #003E33;
	color : rgb(0, 62, 51);
	text-decoration: none!important;
}

.Style5
{
	font-family : Rubik-Regular;
	font-size : 80px;
	color : #003E33;
	color : rgb(0, 62, 51);
	text-decoration: none!important;
}

.Style6
{
	font-family : Rubik-Light;
	font-size : 12px;
	color : #003E33;
	color : rgb(0, 62, 51);
	text-decoration: none!important;
}

.Style7
{
	font-family : Rubik-Regular;
	font-size : 18px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-decoration: none!important;
}

.border1
{
	background-color: #FFF;
}

.cbutton {
  background-color: #E6FE55;
  border: none;
  color: black;
  padding: 0px;
  line-height: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 4px 2px;
  border-radius: 16px;
  font-size: 25px;
  height: 20px;
  width: 40px;
}

.myinput {
  -webkit-appearance: none;
  position: relative;
  padding: 0px;
  width: 32px;
  height: 16px;
  border-radius: 8px;
  background-color: #E6FE55;
  outline: none;
  transition: .70s;
  box-shadow: 0px 2px 5px 1px gray;
}

.myinput:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #f5f5f5;
  border-radius: 8px;
  transition: all .7s;
}

.myinput:checked {
  background-color: #04b112;
  transition: .70s;
}

.myinput:checked:before{
  transform: translate(100%);
  transition: all .7s;
  background-color: #9e9e9e;
}

.startbutton{
  border: none;
  background-color: #f5f5f5;
  text-align: center;
  vertical-align:middle;
}

.bi-arrow-right{
  color: #003E33;
  font-size: 25px;
  font-weight: 100;
}

.bi-arrow-right:hover{
  color: #003E33;
  font-size: 30px;
  font-weight: 900;
}

.dashbbtn{
  background-color: #E6FE55;
  font-weight: 900;
  padding: 0px;
  margin: 10px;
  font-size: 24px;
  font-family : Rubik-Regular;
  text-decoration: none;
  color: #003E33; 
  vertical-align: middle;
  text-align: center;
  width: 80px;
  height: 40px;
  border: none;
}

.dashbbtn:hover{
cursor: pointer;
font-size: 26px;
color: #00614f;
text-decoration: none;
}

#DataTab {
  border-collapse: collapse; 
  border: 1px solid #ddd;
  font-size: 18px;
}

#DataTab th, #DataTab td {
  text-align: left; 
  padding: 12px; 
}

#DataTab tr {
  border-bottom: 1px solid #ddd;
}

select.form-control {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}