<!doctype html>
<html lang="en">

    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Fonts CSS -->
    <link href="//db.onlinewebfonts.com/c/3e7890fe20c81906d11ea20e5a89e27f?family=Clean+Ape" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <title>Dashboard</title>

    </head>

    <body class="d-flex flex-column text-center">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{{ url_for('main.profile') }}" class="Style1">UeX</a>
            <div class="d-flex justify-content-evenly align-items-center" style="width: 50%;">
                <a href="{{ url_for('main.about') }}" class="pe-auto Style3">About</a>
                <a href="{{ url_for('main.features') }}" class="pe-auto Style3">Features</a>
                <a href="{{ url_for('main.support') }}" class="pe-auto Style3">Support</a>
                <a href="{{ url_for('main.dashboard') }}" class="pe-auto Style3">Dashboard</a>
                <a href="{{ url_for('main.logout') }}" class="pe-auto Style3">LogOut</a>
            </div>
        </div>
        <div class="container-fluid w-100 h-100 d-flex justify-content-evenly">
            <div class="d-flex" style="margin-top: 80px;">
                <div class="d-flex flex-column justify-content-start border1 shadow table-responsive" style ="height: 400px;">
                    <table id="DataTabExp" class="table table-hover table-bordered table-striped table-light">
                        <thead>
                                <tr>
                                    <th scope="col">Subject</th>
                                    {% for tool in tools%}
                                        <th style="text-align: center;" scope="col">{{tool}}</th>
                                    {% endfor %}
                                </tr>
                        </thead>
                        <tbody>
                            {% for number in howMany %}
                                <tr>
                                    <th scope="row">{{ number }}</th>
                                    {% for tool in tools%}
                                        {% if tool == "analyt" %}
                                            <td> <span>None</span></td>
                                        {% endif %}
                                        {% if tool == "cardio" %}
                                            <td> <span>None</span></td>
                                        {% endif %}
                                        {% if tool == "time" %}
                                            <td> <span>{{my_exp.data[number-1].timer}}</span></td>
                                        {% endif %}
                                        {% if tool == "video" %}
                                            <td> <a href="{{ url_for('main.recording', number=number) }}"> Video File </a></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% for all in my_exp2 %}
            {{all.timer}}                
        {% endfor %}
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>