<!doctype html>
<html lang="en">

    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Fonts CSS -->
    <link href="//db.onlinewebfonts.com/c/3e7890fe20c81906d11ea20e5a89e27f?family=Clean+Ape" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Dashboard</title>

    </head>

    <body class="d-flex flex-column text-center">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{{ url_for('main.profile') }}" class="Style1">STUX</a>
            <div class="d-flex justify-content-evenly align-items-center" style="width: 50%;">
                <a href="{{ url_for('main.about') }}" class="pe-auto Style3">About</a>
                <a href="{{ url_for('main.features') }}" class="pe-auto Style3">Features</a>
                <a href="{{ url_for('main.support') }}" class="pe-auto Style3">Support</a>
                <a href="{{ url_for('main.dashboard') }}" class="pe-auto Style3">Dashboard</a>
                <a href="{{ url_for('main.logout') }}" class="pe-auto Style3">LogOut</a>
            </div>
        </div>
        <div class="container-fluid w-100 h-100 d-flex justify-content-evenly">
            <div class="d-flex flex-column justify-content-center align-items-center" style="width: auto; margin-top: 80px;">
                <div class="d-flex flex-column justify-content-start border3 shadow" style ="height: 400px; overflow-y: scroll;">
                    <table id="DataTabExp" class="table table-hover table-bordered table-striped table-light" style="width: fit-content; margin: 25px;">
                        <thead>
                                <tr class="Style4">
                                    <th id="subjectCol" scope="col">Subject</th>
                                    {% for tool in tools%}
                                        {% if tools != [''] %}
                                            <th style="text-align: center;" scope="col">{{tool}}</th>
                                        {% endif %}
                                    {% endfor %}
                                    {% if quest != [] %}
                                        <th style="text-align: center;" scope="col"> quest </th>
                                    {% endif %}
                                </tr>
                        </thead>
                        <tbody>
                            {% for number in howMany %}
                                {%  if my_exp_table.users_id == current_u_id %}
                                    <tr>
                                        {% if part_id != [] %}
                                            <th scope="row"><span style="font-size: 24;">{{ part_id[number-1] }}</span></th>
                                        {% else %}
                                            <th scope="row">{{ number }}</th>
                                        {% endif %}
                                        {% for tool in tools%}
                                            {% if tool == "time" and timer != []%}
                                                <td> <span class="Style10">{{ timer[number-1] }}</span></td>
                                            {% endif %}
                                            {% if tool == "video" %}
                                            <form action="{{ url_for('main.dashboard_experiment', row=row) }}" method="POST">
                                                <input type="hidden" name="vid_file" value="{{ part_id[number-1] }}"/>
                                                <input id="submit-vid" type="submit" value="submit" hidden/>
                                            </form>
                                            <td> <button id="download-vid" class="btn btn-outline-success">Download Video</button></td>
                                            {% endif %}
                                            {% if tool == "analyt" %}
                                                <td> <span class="Style10">{{analytics[number-1]}}</span></td>
                                            {% endif %}
                                        {% endfor %}
                                        {% if quest != [] %}
                                            <td> <span style="color: green;">&#10003;</span> </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if tool == "video" %}
                                <script type="text/javascript">
                                    const downloadPdf = document.querySelector("#download-vid");
                                    const submitForm = document.querySelector("#submit-vid");

                                    downloadPdf.addEventListener("click", () => {
                        
                                        let element = document.createElement("a");
                                        element.href = "/static/videos/video{{part_id[number-1]}}user{{current_u_id}}.mp4";
                                        element.download = "video{{part_id[number-1]}}user{{current_u_id}}.mp4";

                                        // Adding the element to body
                                        document.documentElement.appendChild(element);

                                        // trigger download
                                        element.click();

                                        // Removing the element from body
                                        document.documentElement.removeChild(element);

                                        // submitting the form
                                        submitForm.click();
                                    });
                                </script>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    {% if my_exp_table.data.quest_file != None %}
                        <div class="d-flex flex-column justify-content-center align-items-center border3 shadow" style ="width: 100%; height: fit-content; margin-top: 40px;">
                            <div class="d-flex align-items-center justify-content-center" style="width: 100%; padding-left: 8pt;">
                                <span class="Style11"> Questionnaires:</span>
                            </div>
                            <div class="d-flex justify-content-center align-items-center border3" style ="width: fit-content; height: fit-content; background-color: rgb(213, 212, 212); margin: 5px 10px 10px 5px;">
                                <span class="Style9" style="margin: 10px;">{{ quest[0] }}</span>
                            </div>
                        </div>
                    {% endif %}
                    <a class="dashbbtn rounded-pill" type="button" href="javascript:window.history.back();">Back</a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("DataTabExp");
            subhead = document.getElementById("subjectCol");
            switching = true;
            $(document).ready(function() {
                $('#subjectCol').hover(function() {
                    $(this).css('cursor','pointer');
                });

                subhead.onclick = function() {
                    while (switching) {
                        switching = false;
                        rows = table.rows;
            
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;

                            x = rows[i].getElementsByTagName("th")[0];
                            y = rows[i + 1].getElementsByTagName("th")[0];
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                            }
                        }
                        
                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                };
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>