<!doctype html>
<html lang="en">

    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Fonts CSS -->
    <link href="//db.onlinewebfonts.com/c/3e7890fe20c81906d11ea20e5a89e27f?family=Clean+Ape" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <title>User Profile</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>

    <body class="d-flex flex-column text-center">
        <div class="d-flex justify-content-between align-items-center">
            <a href="{{ url_for('main.profile') }}" class="Style1">STUX</a>
            <div class="d-flex">
                <span class="Style7">Welcome, {{name}}!</span>
            </div>
            <div class="d-flex justify-content-evenly align-items-center" style="width: 50%;">
                <a href="{{ url_for('main.about') }}" class="pe-auto Style3">About</a>
                <a href="{{ url_for('main.features') }}" class="pe-auto Style3">Features</a>
                <a href="{{ url_for('main.support') }}" class="pe-auto Style3">Support</a>
                <a href="{{ url_for('main.dashboard') }}" class="pe-auto Style3">Dashboard</a>
                <a href="{{ url_for('main.logout') }}" class="pe-auto Style3">LogOut</a>
            </div>
        </div>
        <div class="container-fluid w-100 h-100 d-flex justify-content-evenly">
            <div class="d-flex flex-column" style="margin-top: 80px;">
                <div class="d-flex border3 shadow" style ="width: 470px; height: 100px; margin-bottom: 40px;">
                    <div class="d-flex flex-column w-100">
                        <div class="d-flex align-items-start">
                            <span class="Style3" style="padding-left: 10px;">Name</span>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <input id="expname" form="expername" class="experinput" type="text" name="ckbox">
                        </div>
                    </div>
                </div>
                <div class="d-flex border3 shadow" style ="width: 470px; height: 100px; margin-bottom: 40px;">
                    <div class="d-flex flex-column w-100">
                        <div class="d-flex align-items-start">
                            <span class="Style3" style="padding-left: 10px;">Size</span>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <p style="font-size: 24px; font-family: Rubik-Regular; color : #000000;">Number of participants: </p>
                            <div>
                                <button id="downbtn" class="cbutton" type="button" onclick="p_counter()">-</button>
                            </div>
                            <div class="d-flex align-items-center justify-content-center border1 shadow p-1 mb-5 bg-body rounded-3" style ="width: 50px; height: 25px;">
                                <textarea id="clicks" name="ckbox" form="expername">0</textarea>
                            </div>
                            <div>
                                <button id="upbtn" class="cbutton" type="button" onclick="p_counter()">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cktab" class="d-flex flex-column justify-content-between border1 shadow" style ="width: 470px; height: 388px;">
                    <div class="d-flex aling-items-start">
                        <span class="Style3" style="padding-left: 20px;">Tools</span>
                    </div>
                    <table>
                        <div class="d-flex flex-row justify-content-evenly align-items-center">
                            <div class="d-flex align-items-center toolBtn">
                                <label>
                                    <input value="video" id="video" class="hidden" type="checkbox" name="ckbox" form="expername"><span>video</span>
                                </label>
                            </div>
                            <div class="d-flex align-items-center toolBtn">
                                <label>
                                    <input value="analyt" id="analytic" class="hidden" type="checkbox" name="ckbox" form="expername"><span>analyt</span>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-evenly align-items-center">
                            <div class="d-flex toolBtn">
                                <label>
                                    <input value="time" id="time" class="hidden rounded-3" type="checkbox" name="ckbox" form="expername"><span>time</span>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <input value="quest" id="questMod" class="dashbbtn rounded-pill" type="button" data-toggle="modal" data-target="#quest_modal">
                            </div>
                        </div>
                    </table>
                </div>
                <div class="modal fade" id="quest_modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div id="modbodscale" class="modal-body">
                                <span>Which scales do you want?</span>
                                </br>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="PQ" id="PQ" type="checkbox" name="ckbox" form="expername"><span class="Style4">PQ</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="TI" id="TI" type="checkbox" name="ckbox" form="expername"><span class="Style4">TI</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="IPQ" id="IPQ" type="checkbox" name="ckbox" form="expername"><span class="Style4">IPQ</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="ITQ" id="ITQ" type="checkbox" name="ckbox" form="expername"><span class="Style4">ITQ</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="SAM" id="SAM" type="checkbox" name="ckbox" form="expername"><span class="Style4">SAM</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="GEQ" id="GEQ" type="checkbox" name="ckbox" form="expername"><span class="Style4">QEO</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="ITC-SOPI" id="ITC-SOPI" type="checkbox" name="ckbox" form="expername"><span class="Style4">ITC-SOPI</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="NASA-LTX" id="NASA-LTX" type="checkbox" name="ckbox" form="expername"><span class="Style4">NASA-LTX</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="RSME" id="RSME" type="checkbox" name="ckbox" form="expername"><span class="Style4">RSME</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="PANAS" id="PANAS" type="checkbox" name="ckbox" form="expername"><span class="Style4">PANAS</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="ATTRAKDIFF" id="ATTRAKDIFF" type="checkbox" name="ckbox" form="expername"><span class="Style4">ATTRAKDIFF</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="GAMEFULQUEST" id="GAMEFULQUEST" type="checkbox" name="ckbox" form="expername"><span class="Style4">GAMEFULQUEST</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="SUS" id="SUS" type="checkbox" name="ckbox" form="expername"><span class="Style4">SUS</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="VRLEQ" id="VRLEQ" type="checkbox" name="ckbox" form="expername"><span class="Style4">VRLEQ</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="UXQUEST" id="UXQUEST" type="checkbox" name="ckbox" form="expername"><span class="Style4">UXQUEST</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center questBtn">
                                    <label>
                                        <input value="UEQ" id="UEQ" type="checkbox" name="ckbox" form="expername"><span class="Style4">UEQ</span>
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-evenly">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="savemodscale" type="button" class="btn btn-success" data-dismiss="modal">Save Choise</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                <span>{{ message }}</span>
                                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="d-flex justify-content-center align-items-center" style="margin-top: 40px;">
                    <span class="Style3">Start</span>
                    <form id="expername" method="POST">
                        <button id="startbtn" type="submit" class="startbutton" aria-label="Right Arrow">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center" style="height: 775px;">
                <p class="text-end Style2">
                User testing <br> made easy. all <br> Your results <br> in one place <br> now. Organize <br> better
                </p>
            </div>
        </div>
    <script type="text/javascript">
        const btn = document.getElementById('questMod');
        const save_mod = document.getElementById('savemodscale');
        var modal_input = document.getElementById('modbodscale')
        const colors = ['#E6FE55', 'rgb(41, 188, 0)'];

        save_mod.addEventListener('click', function onClick() {
            inputs = modal_input.getElementsByTagName('input')
            var inputCount = document.getElementById('modbodscale').getElementsByTagName('input').length;
            for(let i = 0; i < inputCount; i++){
                if(inputs[i].checked == true){
                    btn.style.backgroundColor = colors[1];
                    break
                }
                else{
                    btn.style.backgroundColor = colors[0];
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/starter.js')}}"></script>
    </body>
</html>