<!doctype html>
<html lang="en">

    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Fonts CSS -->
    <link href="//db.onlinewebfonts.com/c/3e7890fe20c81906d11ea20e5a89e27f?family=Clean+Ape" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="{{url_for('.static', filename='styles.css')}}">

    <title>Questionnaire</title>

    </head>
    <body class="d-flex flex-column align-items-center text-center">
        <div class="d-flex border1 shadow p-3 mb-5 bg-body rounded-3" style ="width: auto; height: auto; margin: 40px;">
            <div class="d-flex align-items-center justify-content-center">
                <form method="post" action="{{ url_for('quest', new_exp_id=new_exp_id) }}">
                    <div class="d-flex justify-content-between align-items-end">
                        <span style="font-size: large; margin-right: 20px;">How much were you able to control events?</span>
                        <div class="d-flex align-items-end">
                            <div class="form-check form-check-inline" style="text-align: left; margin-right: 8px;">
                                <div class="d-flex">
                                    <span class="smaltext">Low</span>
                                </div>
                                <input class="form-check-input" type="radio" name="q1" id="q11" value="1">
                                <label class="form-check-label" for="q11">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1" id="q12" value="2">
                                <label class="form-check-label" for="q12">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1" id="q13" value="3">
                                <label class="form-check-label" for="q13">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q1" id="q14" value="4">
                                <label class="form-check-label" for="q14">4</label>
                            </div>
                            <div class="form-check form-check-inline" style="text-align: left; margin-right: 0px;">
                                <div class="d-flex">
                                    <span class="smaltext">High</span>
                                </div>
                                <input class="form-check-input" type="radio" name="q1" id="q15" value="5">
                                <label class="form-check-label" for="q15">5</label>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="d-flex justify-content-between align-items-end">
                        <span style="font-size: large; margin-right: 20px;">How responsive was the environment to actions that you initiated(or performed)?</span>
                        <div class="d-flex align-items-end">
                            <div class="form-check form-check-inline" style="text-align: left;">
                                <input class="form-check-input" type="radio" name="q2" id="q21" value="1">
                                <label class="form-check-label" for="q21">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q2" id="q22" value="2">
                                <label class="form-check-label" for="q22">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q2" id="q23" value="3">
                                <label class="form-check-label" for="q23">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q2" id="q24" value="4">
                                <label class="form-check-label" for="q24">4</label>
                            </div>
                            <div class="form-check form-check-inline" style="text-align: left;">
                                <input class="form-check-input" type="radio" name="q2" id="q25" value="5">
                                <label class="form-check-label" for="q25">5</label>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="d-flex justify-content-between align-items-end">
                        <span style="font-size: large; margin-right: 20px;">How well could you move or manipulate objects in the virtual environment?</span>
                        <div class="d-flex align-items-end">
                            <div class="form-check form-check-inline" style="text-align: left;">
                                <input class="form-check-input" type="radio" name="q3" id="q31" value="1">
                                <label class="form-check-label" for="q31">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q3" id="q32" value="2">
                                <label class="form-check-label" for="q32">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q3" id="q33" value="3">
                                <label class="form-check-label" for="q33">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="q3" id="q34" value="4">
                                <label class="form-check-label" for="q34">4</label>
                            </div>
                            <div class="form-check form-check-inline" style="text-align: left;">
                                <input class="form-check-input" type="radio" name="q3" id="q35" value="5">
                                <label class="form-check-label" for="q35">5</label>
                            </div>
                        </div>
                    </div>
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-row justify-content-center" style="margin-top: 20px;">
                        <button id="questbtn" name="questsub" type="submit" class="btn btn-primary rounded-pill">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/starter.js')}}"></script>
    </body>
</html>